@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700);

*{
  font-family: 'Raleway', sans-serif;
}

html, body{
  margin:0;
  height:100%;
}

nav{
  background: #222;
  margin: 0;
  color: #fff;
  position: fixed;
  width:100%;
  display: flex;
  justify-content: center;
}

nav ul {
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li{
  cursor:pointer;
  display: block;
  padding: 10px;
}

section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  height: 100%;
  color:#fff;
}

section span{
  margin-top: 10px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  width:600px;
  height:500px;
  border: 5px solid #fff;
  font-weight: bold;
  font-size: 2em;
  color: #fff;
}

#page1{
  background: url("https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg");
}

#page2{
  background: #F1C40F;
}

#page3{
  background: #E74C3C;
}

#page4{
  background: #2ECC71;
}

#page5{
  background: #95A5A6;
}